.Footer {
    width: 100%;
    background: #200D3F;
}

.foot {
    margin: 0 auto;
    width: 80%;
}

.foot ul {
    display: flex;
    justify-content: space-between;
}

.footer__left {
    text-align: center;
}

.footer__left h2 {
    display: flex;
    font-family: Comfortaa;
    font-size: 22px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    color: white;
}

.footer__centr ul {
    margin-top: 30px;
    height: 18px;
    width: 567px;
}